.menubar-img {
  width: 80%;
}

.menu-img {
  width: 120%;
}

.box {
  margin: none;
  padding : 0;
}

.apply-btn {
  background-color: #c30e2e;
  display: inline-block;
  padding : 0px 6px;
  border-radius: 2px;
  color : white;
  font-size: 13.33px;
  height: 27px;
  width: auto !important;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin : auto;
  padding: auto;
}

.apply-btn:hover {
  background-color: #9f151A;
}

.class-list {
  border : 1px solid black !important;
  margin-left: 0.5%;
  width: 120%;
}

.class-name{ 
  border-left: 1px solid black;
}

.btn-div {
  margin: none;
  padding-left: auto;
}
.menubar {

}

.App {
  position: relative;
  z-index:1;
  /* 이외에 추가적인 스타일링 코드... */
}

.menubar-img {
  width: 100%;
}

.apply-btn {
  background-color: #c30e2e;
  display: inline-block;
  padding : 0px 6px;
  border-radius: 2px;
  color : white;
  font-size: 13.33px;
  height: 27px;
  width: auto !important;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin : auto;
  padding: auto;
}

.apply-btn:hover {
  background-color: #9f151A;
}

.class-list {
  border : 1px solid black !important;
}

.class-name{ 
  border-left: 1px solid black;
}

.btn-div {
  margin: none;
  padding-left: auto;
}

.modal {
  background-color: rgba(0 0 0 0);
}